<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:b="http://typo3.org/ns/TYPO3/CMS/Beuser/ViewHelpers"
	  xmlns:p="http://typo3.org/ns/Jokumer/Privacy/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<f:layout name="BackendModul" />
<f:section name="MainContent">
	<h1>
		<f:translate key="module.header.subject" /> "{application.label}"
	</h1>
	<f:if condition="{subject}">
		<f:then>
			<div class="panel panel-space panel-default recordlist">
				<div class="panel-heading">
					<span>{application.label} <f:if condition="{subject.uid}">[ID: {subject.uid}]</f:if> </span>
					<div class="btn-group pull-right">
						<a class="btn btn-default"
						   href="{b:editRecord(parameters: 'edit[{application.table}][{subject.uid}]=edit&returnUrl={returnUrl}')}"
						   title="{f:translate(key: 'module.subject.edit')}">
							<core:icon identifier="actions-open" />
						</a>
						<f:link.action action="exportSubject"
									   arguments="{applicationKey: application.key, subjectUid: subject.uid, returnUrl: returnUrl}"
									   class="btn btn-default"
									   title="{f:translate(key: 'module.subject.export')}">
							<core:icon identifier="actions-download" />
						</f:link.action>
						<f:link.action action="anonymizeSubject"
									   arguments="{applicationKey: application.key, subjectUid: subject.uid, returnUrl: returnUrl}"
									   class="btn btn-default"
									   onclick="javascript:return confirm('{f:translate(key: 'module.subject.anonymize.confirm')}')"
									   title="{f:translate(key: 'module.subject.anonymize')}">
							<core:icon identifier="actions-synchronize" />
						</f:link.action>
						<f:link.action action="deleteSubject"
									   arguments="{applicationKey: application.key, subjectUid: subject.uid, returnUrl: returnUrl}"
									   class="btn btn-default"
									   onclick="javascript:return confirm('{f:translate(key: 'module.subject.delete.confirm')}')"
									   title="{f:translate(key: 'module.subject.delete')}">
							<core:icon identifier="actions-delete" />
						</f:link.action>
					</div>
				</div>
				<div class="collapse in">
					<div class="table-fit">
						<table class="table table-striped table-hover">
							<thead>
							<tr>
								<th>
									<f:translate key="module.subject.view.field.key" />
								</th>
								<th>
									<f:translate key="module.subject.view.field.value" />
								</th>
							</tr>
							</thead>
							<tbody>
							<f:for each="{subject}" key="entryKey" as="entryValue">
								<tr>
									<td>
										{entryKey}
									</td>
									<td>
										{entryValue}
									</td>
								</tr>
							</f:for>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</f:then>
		<f:else>
			<f:be.infobox title="{f:translate(key: 'module.subject.empty')}" state="-1" />
		</f:else>
	</f:if>
</f:section>
